/* @import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap'); */

body {
  background: url('img/backgrounds/1540024.jpeg') center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
  font-size: 100%;
}

h1 {
  font-size: 150px;
  color: antiquewhite;
  opacity: .9;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7%;
  margin-bottom: 10px;

}

form {
  font-family: sans-serif;
  letter-spacing: .1em;
  font-weight: 600;
  color: antiquewhite;
  text-align: center;

}
input {
  width: 200px;
  height: 25px;
 }
label {
  display:block;
  margin-bottom: 20px;
  font-size: 130%;
  opacity: .9;


 }
 #submit {
   position: relative;
   margin-left: 8px;
 }

 #result {
  letter-spacing: .1em;
  color: black;
  text-align: center;
  position: relative;
  margin-top: 40px;
  background-color: rgb(250, 243, 233);
  font-weight: 600;
  opacity: .89;
 }